@charset "UTF-8";

.paragraphOne{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18pt;
    color: firebrick;
    width: 400px;
    border: 2px solid black;
}